@mixin fontPoppin($weight: 400) {
  font-family: "Poppins", sans-serif;
  font-weight: $weight;
}
@mixin fontmuli($weight: 400) {
  font-family: "Mulish", sans-serif;
  font-weight: $weight;
}
@mixin fontPlayFair($weight: 400) {
  font-family: "Playfair Display", serif;
  font-weight: $weight;
}
