.l-header {
    position: relative;
   &__out {
    background-color: red;
    position: fixed;
    top:0;
    
    
   }
   &__navbar {
    display: flex;
justify-content: space-between;
align-items: center;
padding: 40px;

}&__menu ul {
    display: flex;
    gap: 68px;
}
}