.gallery {
  &__txt {
    text-align: center;
    h2 {
      @include fontPlayFair(700);
      font-size: 42px;
    }
    p {
      @include fontmuli();
      font-size: 16px;
      margin-top: 32px;
    }
  }
  &__slider {
    margin: 0 auto;
    margin-top: 41px;
    padding: 0 20px;
    .slick-arrow {
      &::before {
        font-size: 50px;
      }
    }
    .slick-prev {
      left: 30px;
      z-index: 99;
    }
    .slick-next {
      right: 70px;
      z-index: 99;
    }
    .slick-track {
      display: flex;
      gap: 20px;
    }
    .slick-current {
      transition: all 1s ease;
      scale: 1.3;
      z-index: 99;
    }
    &__img {
      img {
        height: 426px;
        object-fit: cover;
      }
    }
  }
}
